.note {
  position: absolute;
  background: rgb(69, 95, 126);
  cursor: grab;
  user-select: none;
}

.resize-handle {
  position: absolute;
  width: 12px;
  height: 12px;
  right: 0;
  bottom: 0;
  cursor: nwse-resize;
  background: black;
}
