.notes-form {
  margin-bottom: 2rem;

  label {
    text-align: left;
    margin-left: 0.5rem;
  }

  label.center {
    text-align: center;
  }

  input {
    border-radius: 0.5rem;
    border: 1px solid lightgray;
    height: 1rem;
    text-indent: 0.5rem;
  }

  .row,
  .col {
    gap: 1rem;
  }
}
